# Dependencies
node_modules/

# Environment Variables
.env
.env.production
.env.development
.env.test
.env.local
*.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage/
.nyc_output/

# OS metadata
.DS_Store
Thumbs.db

# Optional IDE configuration
.vscode/
.idea/
